<base-page [options]="basePageOptions">


    <div>


        <hr>

        <form [formGroup]="form" (ngSubmit)="submit(id)">


            <div class="form-group row">
                <div class="col-md-6 ">
                    <label for="title">Name:</label>
                    <input formControlName="name" [(ngModel)]="category.name" id="name" type="text" class="form-control"
                        [ngClass]="{'is-valid':f['name'].valid ,'is-invalid': f['name'].invalid }">
                    <div *ngIf="f['name'].invalid  && (f['name'].dirty || f['name'].touched)" class="invalid-feedback">
                        <div *ngIf="f['name'].errors?.['required']">
                            Category Name is required.
                        </div>

                    </div>
                </div>

            </div>


 
            <button *ngIf="id" class=" btn btn-success submit-btn" type="submit" [disabled]="!form.valid">Update</button>
            <button *ngIf="!id" class=" btn btn-success submit-btn" type="submit" [disabled]="!form.valid">Create</button>
        </form>
    </div>
</base-page>