<ng-container *ngIf="options.loading === false">
    <app-navbar [user]="user" (logoutEvent)="logout()"></app-navbar>
    <div class="main-content">
        <div class="d-flex justify-content-between">

            <h4>{{ options.title }}</h4>

            <a routerLink="/{{ options.routeUrl }}" class="btn btn-info custom-btn">{{ options.routeTitle }}</a>
        </div>
        <div *ngIf="paginater" class="search-paginator">

            <div class="row search">
                <div class="form-group">
                    <label>{{ nbofItems }} results</label>
                    <div class="search-div">
                        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchStr"
                            name="searchStr" name="searchStr" (keyup)="searchItem($event)">
                        <span>
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </span>
                    </div>
                </div>

            </div>
            <div class="paginator">
                <span>Items Per Page</span>
                <select (change)="changeLimit($event)" class="">
                    <option *ngFor="let page of arrayToNumber(10);let i = index" [selected]="paginater.limit == i+1">{{
                        i+1
                        }}
                    </option>
                </select>
                <a role="button" (click)="previousPage()">
                    Previous
                </a>
                <select (change)="changePage($event)">
                    <option
                        *ngFor="let page of arrayToNumber(paginater.totalPages);let i = index"
                        [selected]="paginater.currentPage == i+1">{{ i+1
                        }}</option>
                </select>
                <a role="button" (click)="nextPage()">
                    Next
                </a>
            </div>
        </div>

        <ng-content [user]="user"></ng-content>
    </div>
</ng-container>

<app-spinner *ngIf="options.loading === true"></app-spinner>