.submit-btn {
    margin-top: 2rem;
}


.product-gallery {
    a {
        position: absolute;

        img {
            width: 70px;
            height: 100px;
        }
    }

    span {
        position: absolute;
        z-index: 10;
        display: none;
        right: 10px;
        top: 5px;

        button {
            border: 0;
            color: red;
            background-color: transparent;
        }
    }

}

.brand-logo {
    img {
        width: 50px;
        margin-top: 30px;
    }
}
