<base-page [nbofItems]="nbOfProducts" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (searchForItem)="searchItem($event,0)" (prevPaginater)="previousPage()"
    (changePaginater)="changePage($event)" (nextPaginater)="nextPage()">
    <section>
        <table  class="table ">
            <tr>
                <th><a role="button" (click)="toggleSortBy('ID')">ID
                        <fa-icon [icon]="idarrowIcon"></fa-icon>
                    </a>
                </th>
                <th><a role="button" (click)="toggleSortBy('Name')">Name
                        <fa-icon [icon]="namearrowIcon"></fa-icon>
                    </a>
                </th>
                <th>Price</th>
                <th>Category</th>
                <th style="display: flex;justify-content: center;">Brand</th>
                <th><a role="button" (click)="toggleSortBy('Date')">Created Date
                        <fa-icon [icon]="datearrowIcon"></fa-icon>
                    </a>
                </th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let product of products">
                <td class="item-id">{{ product.id }}</td>
                <td><a [routerLink]="['/admin/product/', 'edit', product.id  ]">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td class="product-img"><img [src]="product.brand_image">
                </td>
                <td>{{ product.created_at }}</td>
                <td>
                    <a href="#" [routerLink]="['/admin/product/', 'edit', product.id  ]">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </a>
                    <a style="margin-left:5px" (click)="openModal(product.id,product.name)" role="button">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
    </section>
</base-page>