<base-page [nbofItems]="nbOfProducts" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (sortByFilter)="sortBy($event)" (searchForItem)="searchItem($event)"
    (prevPaginater)="previousPage()" (changePaginater)="changePage($event)" (nextPaginater)="nextPage()">
    <section>
        <table class="table ">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th style="display: flex;justify-content: center;">Brand</th>
                <th>Created Date</th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td style="display: flex;justify-content: center;padding: 0;"><img style="max-width: 100px;max-height: 100px;"
                        [src]="product.brand_image"></td>
                <td>{{ product.created_at }}</td>
                <td>
                    <a href="#" [routerLink]="['/admin/product/', 'edit', product.id  ]" class="btn btn-primary">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </a>
                    <button style="margin-left:5px" type="button" (click)="openModal(product.id,product.name)"
                        class="btn btn-danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</base-page>