<base-page [nbofItems]="nbOfBrands" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (searchForItem)="searchItem($event,0)" (prevPaginater)="previousPage()"
    (changePaginater)="changePage($event)" (nextPaginater)="nextPage()">

    <section>
        <table class="table ">
            <tr>
                <th><a role="button" (click)="toggleSortBy('ID')">ID
                        <fa-icon [icon]="idarrowIcon"></fa-icon>
                    </a>
                </th>
                <th><a role="button" (click)="toggleSortBy('Name')">Name
                        <fa-icon [icon]="namearrowIcon"></fa-icon>
                    </a>
                </th>
                <th>Logo</th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let brand of brands">
                <td class="item-id">{{ brand.id }}</td>
                <td><a [routerLink]="['/admin/brand/', 'edit', brand.id  ]">{{ brand.name }}</a></td>
                <td><img *ngIf="brand.image" style="max-width: 50px;max-height: 50px;" [src]="brand.image"
                        onerror="this.src='../../assets/images/not-found.svg'">
                </td>
                <td style="display: flex;">
                    <a href="#" [routerLink]="['/admin/brand/', 'edit', brand.id  ]">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </a>
                    <a role="button" style="margin-left:5px" (click)="openModal(brand.id,brand.name)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
    </section>
</base-page>