<base-page [nbofItems]="nbOfBrands" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (sortByFilter)="sortBy($event)" (searchForItem)="searchItem($event)"
    (prevPaginater)="previousPage()" (changePaginater)="changePage($event)" (nextPaginater)="nextPage()">

    <section>
        <table class="table ">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Logo</th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let brand of brands">
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td><img *ngIf="brand.image" style="max-width: 50px;max-height: 50px;" [src]="brand.image"
                        onerror="this.src='../../assets/images/not-found.svg'">
                </td>
                <td style="display: flex;">
                    <a href="#" [routerLink]="['/admin/brand/', 'edit', brand.id  ]" class="btn btn-primary"> 
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </a>
                    <button style="margin-left:5px" type="button" (click)="openModal(brand.id,brand.name)"
                        class="btn btn-danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</base-page>