<div class="container" *ngIf="!loading">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">


                        <div class="row mb-3">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input formControlName="email" id="email" type="email" class="form-control" name="email"
                                    required autocomplete="email"
                                    [ngClass]="{'is-valid':ff.email.valid ,'is-invalid': ff.email.invalid }" autofocus>
                                <div *ngIf="ff.email.invalid  && (ff.email.dirty || ff.email.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="ff.email.errors?.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="ff.email.errors?.email">
                                        Email is invalid.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input formControlName="password" id="password" type="password"
                                    class="form-control  is-invalid " name="password" required
                                    autocomplete="current-password"
                                    [ngClass]="{'is-valid':ff.password.valid  ,'is-invalid': ff.password.invalid }">
                                <div *ngIf="ff.password.invalid  && (ff.password.dirty || ff.password.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="ff.password.errors?.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="ff.password.errors?.minlength">
                                        Minimum password length is 8.
                                    </div>
                                </div>
                                <div *ngIf="!isCorrect" class="login-alert">
                                    Incorrect Email or Password!
                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">
                                    Login
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<app-spinner *ngIf="loading" [attributes]="spinnerAttributes"></app-spinner>