<base-page [nbofItems]="nbOfCategories" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (searchForItem)="searchItem($event,0)" (prevPaginater)="previousPage()"
    (changePaginater)="changePage($event)" (nextPaginater)="nextPage()">

    <section>


        <table class="table ">
            <tr>
                <th><a role="button" (click)="toggleSortBy('ID')">ID
                        <fa-icon [icon]="idarrowIcon"></fa-icon>
                    </a>
                </th>
                <th><a role="button" (click)="toggleSortBy('Name')">Name
                        <fa-icon [icon]="namearrowIcon"></fa-icon>
                    </a>
                </th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td><a [routerLink]="['/admin/category/', 'edit', category.id  ]">{{ category.name }}</a></td>
                <td style="display: flex;">
                    <a href="#" [routerLink]="['/admin/category/', 'edit', category.id  ]" class="btn btn-primary">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </a>
                    <button style="margin-left:5px" type="button" (click)="openModal(category.id,category.name)"
                        class="btn btn-danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</base-page>