<base-page [nbofItems]="nbOfBrands" [options]="basePageOptions" [paginater]="paginater"
    (itemsPerPage)="changeLimit($event)" (sortByFilter)="sortBy($event)" (searchForItem)="searchItem($event)">

    <section>



        <table class="table ">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Logo</th>
                <th width="220px">Action</th>
            </tr>
            <tr *ngFor="let brand of brands">
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td><img *ngIf="brand.image" style="max-width: 50px;max-height: 50px;" [src]="brand.image"
                        onerror="this.src='../../assets/images/not-found.svg'">
                    <!-- <img *ngIf="brand.image?.length==0"  style="max-width: 50px;max-height: 50px;" [src]="notFound"> -->
                </td>
                <td>
                    <a href="#" [routerLink]="['/brand/', 'edit', brand.id  ]" class="btn btn-primary">Edit</a>
                    <button style="margin-left:5px" type="button" (click)="deleteBrand(brand.id)"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
        <div class="paginator" *ngIf="paginater.totalPages > 1">
            <button (click)="previousPage()" class="btn btn-primary form-control">PREVIOUS </button>
            <select (change)="changePage($event)" style="width:100px" class="form-control pager">
                <option *ngFor="let page of arrayPages(paginater.totalPages);let i = index"
                    [selected]="paginater.currentPage == i+1">{{ i+1
                    }}</option>
            </select>
            <button (click)="nextPage()" class="btn btn-primary form-control">NEXT</button>
        </div>
    </section>
</base-page>